[url "ssh://git@github.com/"]
        insteadOf = https://github.com/
[url "msazure@vs-ssh.visualstudio.com:v3"]
        insteadOf = https://msazure.visualstudio.com
[url "git@ssh.dev.azure.com:v3"]
        insteadOf = https://dev.azure.com
[user]
        email = nitin.jamadagni@gmail.com
        name = Nitin Jamadagni
[url "git@ssh.dev.azure.com:v3/mariner-org"]
        insteadOf = https://dev.azure.com/mariner-org
[url "git@ssh.dev.azure.com:v3/msazuredev"]
        insteadof = https://msazuredev@dev.azure.com/msazuredev
[url "git@ssh.dev.azure.com:v3/msazuredev/AzureForOperatorsIndustry/"]
        insteadof = https://dev.azure.com/msazuredev/AzureForOperatorsIndustry/_git/